$maxWidth: 1200px;

$pageColor: #f1f1f1;
$borderColor: #dedede;
$mainTextColor: #000000;
$countryTextColor: #707070;
$yellowColor: #e87722;
$yellowHoverColor: #e77724;

$topMenuBorder: 1px solid #efefef;
$topMenuShadow: 0px 1px 4px #00000040;

$bottomMenuColor: #fafafa;
$bottomMenuBorder: 1px solid #c6c8c8;

$inputBorderColor: #dedede;
$inputTextColor: rgba(0, 0, 0, 0.7);
